#leftzone li li{
    padding-left: 10px;
}
#leftzone li a{
    text-decoration: none;
    height: 25px; display: block; line-height: 25px;
}
#leftzone li li a{
    font-size: 12px;
}

#leftzone ul ul{
    overflow-y: scroll; height: 200px;
}
#leftzone ul div{
    height: 0px;
    overflow: hidden;
    
}

#leftzone ul ul::-webkit-scrollbar {
    width: 10px;
    opacity: 0.3;
}

#leftzone ul ul::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/ 
    border-radius: 10px;
}

#leftzone ul ul::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 10px;
    background-color: #666;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/ 
}
#leftzone ul ul::-webkit-scrollbar:hover{
    opacity: 1;
}